body {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  height:100%;
  background: linear-gradient(rgb(230, 230, 230), rgb(255, 255, 255)) fixed;
}

a {
  text-decoration: none;
}

#header {
  z-index: 1;
  position: fixed;
  background-color: rgba(230,230,230);
  width: 100%;
  height: 50px;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 0px 20px rgb(199, 199, 199);
}

#headerContent {
  z-index: 2;
  color: rgb(60, 60, 60);
  max-width: 960px;
  height: 50px;
  margin: auto;
  padding: 10px;
}

.resumeLink {
  color: rgb(0, 200, 255);
}

#nameLogo {
  color: rgb(0, 200, 255);
  font-weight: 700;
  font-size: 1.4em;
}

#jobLogo {
  font-family: consolas;
  font-size: 1.3em;
}

.bracketLogo {
  font-family: consolas;
  font-size: 1.3em;
  color: rgb(100, 100, 100);
}

#getResume {
  color: rgb(0, 200, 255);
  padding-top: 3px;
  font-size: 1.1em;
  float: right;
}

#summary {
  color: rgb(100, 100, 100);
  padding-top: 125px;
  height: 100%;
  width: 780px;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}

#contact {
  text-align: center;
  padding-top: 30px;
  width: 780px;
  margin: auto;
}

.contactIcon {
  height: 13px;
  width: 13px;
  margin-right: 5px;
}

.contactLink {
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(60, 60, 60);
  font-size: 1.1em;
  font-weight: 700;
  font-family: consolas;
}

#portfolio {
  width: 780px;
  height: 300px;
  margin: auto;
  margin-top: 75px;
}

#project1 {
  background-image: linear-gradient(to bottom right, #80C3FF, #6CD962);
  float: left;
  width: 220px;
  height: 320px;
}

#project2 {
  float: left;
  background-image: linear-gradient(to bottom right, #FFD180, #D96262);
  width: 220px;
  height: 320px;
  margin-left: 60px;
  background-color: red;
}

#project3 {
  background-image: linear-gradient(to bottom right, #BB80FF, #62D0D9);
  float: left;
  width: 220px;
  height: 320px;
  margin-left: 60px;
  background-color: red;
}

.projectDiv {
  float:left;
  height: 350px;
}

.projectTile {
  padding: 10px;
  color: #fff;
  box-sizing: border-box;
  font-size: 1.2em;
  position:relative;
  margin-bottom: 5px;
}

.projectTile:hover { 
  box-shadow: 0px 0px 20px rgb(199, 199, 199);
}

.projectTitle {
  text-shadow: 0px 0px 20px rgb(65, 65, 65);
  font-weight: 500;
}

.appDescription {
  font-size: 0.8em;
  padding-top: 20px;
}

.webappLink {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  padding-bottom: 30px;
}

.appTags {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 0.8em;
}

#githubLink1 {
  margin-left: 40px;
}

#githubLink2 {
  margin-left: 105px;
}

#githubLink3 {
  margin-left: 105px;
}

@media only screen and (max-width: 768px) {
  #header {
    height: 60px;
  }

  #headerContent {
    width: 100%;
    height: 50px;
    margin: auto;
  }


  #webDeveloper {
    font-size: 0.7em;
    position: relative;
    left: -145px;
    top: 15px;
  }

  #getResume {
    color: rgb(0, 200, 255);
    padding-top: 10px;
    font-size: 1.1em;
    float: right;
  }

  .resumeLink {
    margin-right: 25px;
  }

  #summary {
    width: 100%;
    padding: 15px;
    padding-top: 100px;
    box-sizing: border-box;
  }

  .contactLink {
    display: block;
    padding-bottom: 25px;
  }

  #contact {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    margin: auto;
  }

  #portfolio {
    width: 100%;
    margin: auto;
    margin-top: 30px;
  }

  .projectDiv {
    margin-bottom: 25px;
    height: 350px;
    width: 100%;
  }

  .projectTile {
    width: 100%;
    margin-bottom: 5px;
  }

  #project1 {
    margin: auto;
    float: none;
    width: 220px;
    height: 320px;
  }
  
  #project2 {
    float: none;
    width: 220px;
    height: 320px;
    margin: auto;
  }
  
  #project3 {
    float: none;
    width: 220px;
    height: 320px;
    margin: auto;
  }

  #githubLink1 {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  
  #githubLink2 {
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
  }
  
  #githubLink3 {
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
  }
}